* @rebys4 @DaniilCS
/app/ @rebys4 @DaniilcS
/tests/ @rebys4 @DaniilCS
/.github/ @rebys4 @DaniilCS
README.md @rebys4 @DaniilcS
SECURITY. md @rebys4 @DaniilCS
pyproject.toml @rebys4 @DaniilCS
requirements*.txt @rebys4 @DaniilCS
Dockerfile @rebys4 @DaniilcS
compose.yaml @rebys4 @Daniilcs
